<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.kun.mapper.UserMapper">

    <resultMap type="User" id="userResultMap">
        <result property="firstname" column="firstname" />
        <result property="lastname" column="lastname" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="create_time" column="createTime" />
    </resultMap>

    <resultMap type="User" id="userResultMap2">
        <result property="firstname" column="firstname" />
        <result property="lastname" column="lastname" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="create_time" column="createTime" />
    </resultMap>

    <select id="selectAllByMoreResultMap" parameterType="int" resultMap="userResultMap,userResultMap2"
            flushCache="false" useCache="true"
            timeout="10000" fetchSize="2" statementType="PREPARED" resultSetType="FORWARD_ONLY">
        <![CDATA[
            select * from tbl_user
        ]]>
    </select>

    <insert id="insert" parameterType="User" >
        INSERT INTO tbl_user(firstname,lastname,phone,email)
        VALUES(#{firstname},#{lastname},#{phone},#{email})
    </insert>

    <update id="update" parameterType="User">
        UPDATE tbl_user SET firstname=#{firstname},lastname=#{lastname},phone=#{phone},email=#{email}
        WHERE firstname=#{firstname}
    </update>

    <select id="query" parameterType="java.util.Map" resultType="User">
        SELECT
        a.firstname firstname,
        a.lastname lastname,
        a.phone phone,
        a.email email,
        a.create_time createTime
        FROM
        tbl_user a
        WHERE 1=1
        <if test="firstname!=null and firstname!=''">
            AND a.firstname = #{firstname}
        </if>
        <if test="lastname!=null and lastname!=''">
            AND a.lastname = #{lastname}
        </if>
        <if test="phone!=null and phone!=''">
            AND a.phone = #{phone}
        </if>
        <if test="email!=null and email!=''">
            AND a.email = #{email}
        </if>
    </select>

    <select id="list" parameterType="UserQueryParam" resultType="User">
        SELECT
        a.firstname firstname,
        a.lastname lastname,
        a.phone phone,
        a.email email,
        a.create_time createTime
        FROM
        tbl_user a
        WHERE 1=1
        <if test="firstname!=null and firstname!=''">
            AND a.firstname = #{firstname}
        </if>
        <if test="lastname!=null and lastname!=''">
            AND a.lastname = #{lastname}
        </if>
        <if test="phone!=null and phone!=''">
            AND a.phone = #{phone}
        </if>
        <if test="email!=null and email!=''">
            AND a.email = #{email}
        </if>
        <if test="createTime != null">
            AND a.create_time = #{createTime}
        </if>
    </select>

    <select id="getUserByFirstname" parameterType="long" resultType="User">
        SELECT
        a.firstname firstname,
        a.lastname lastname,
        a.phone phone,
        a.email email,
        a.create_time createTime
        FROM
        tbl_user a
        WHERE 1=1
        <if test="firstname!=null">
            AND a.firstname = #{firstname}
        </if>
    </select>

    <delete id="deleteByFirstname" parameterType="String">
        DELETE FROM tbl_user WHERE firstname=#{firstname}
    </delete>

    <select id="findAllStream" resultType="User" fetchSize="2">
        select * from tbl_user
    </select>

</mapper>